.character {
  height: 500px;
  width: 80px;
  color: white;
  background: lightgray;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.character-value {
  height: 60px;
  width: 60px;
  color:  gray;
  background: white;
  border-radius: 10px;
  border-style: solid;
  border-color: gray;
}
.character-value p {
  font-size: 20px;
  text-align: center;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}